
<html>
 <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="card text-center" style="width: 32rem;">
            <div class="card-body bg-light">
              <h5 class="card-title">Asana Tasks + Google Calendar</h5>
              <p class="card-text">A simple OAuth2 Application that will authenticate and authorize to access your Asana Account and display your Tasks. <br>
                You can sync each task to your Google Calendar as well.</p>
              <a href="/asana/authorize/{{#userId}}{{.}}{{/userId}}" class="btn btn-primary">Sign In</a>
    </div>
</div>
  </div>
 </body>
</html>