<html>
 <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
      
      <div class="card text-center" style="width: 24rem;">
        <h5 class="card-title">Chooose a Calendar</h5>
     <div class="card card-body bg-light">
      {{#stooges}}
      <b>{{name}}</b>
      {{/stooges}}
    </div>
    </div>
  </div>
 </body>
</html>