/* Global */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
}

body,
a {
  color: #fff;
}

h1 span {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: row;
  box-shadow: -1px 2px 10px 2px #9e9e9e63;
}

/* GitHub profile section */
.profile {
  padding: 10px;
  width: 40%;
  box-shadow: 2px 2px 7px 0px #313334;
  background-color: #30363d;
  text-align: center;
  position: fixed;
  height: 100%;
}

.profile .pic {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin: auto auto 10px auto;
  display: block;
  box-shadow: 0 0 0 1px rgba(240, 246, 252, 0.1);
}

/* Public repository listing section */
.public-repos {
  background-color: #30363ced;
  width: 60%;
  margin-left: 41%;
}

.public-repos ul {
  list-style: none;
  margin-left: 10px;
  padding: 0;
}

.public-repos ul li {
  border-bottom: solid 1px #9e9e9e;
  display: block;
  padding: 5px;
}

.public-repos h2 {
  text-align: center;
  margin: 10px;
}

.public-repos ul li span {
  display: block;
  font-size: 10px;
}

.lang {
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  padding: 2px;
  margin-top: 5px;
  background-color: #f4433624;
}

section svg,
.followers svg {
  padding: 2px;
}

.followers {
  margin: 10px;
}

.top h2 {
  font-size: 24px;
  line-height: 1.25;
}
